<a href="https://colab.research.google.com/github/swhom/MMDT_T-PY101_Batch03/blob/main/sandarwin/Ex02_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [1]:
len("My name is python")

17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [11]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s1=s.lower()
s1.count('python')

2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [19]:
ls1 = ["apple", "banana", "cherry"]
ls2 = ["apple", "banana", "cherry", "apple", "cherry"]
new_list = ls1+ls2
print(new_list)
len(new_list)

['apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'cherry']

8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [27]:
dictionary =[{"Name": "Myo",
             "Age": 32},
             {"Name": "Thida",
             "Age": 64}]
print(dictionary)

[{'Name': 'Myo', 'Age': 32}, {'Name': 'Thida', 'Age': 64}]

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [30]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
combined_set=set1.union(set2)
print (combined_set)
len(combined_set)

{'Height', 'Education', 'status', 'Name', 'age'}

5

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [34]:
x= input("please enter a string:")
new_string= x.replace(x[1],"*")+"!!!"
print(new_string)

please enter a string:Hello
H*llo!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [40]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s1=s.lower()
print(s1.replace(";"," ").replace(","," ").replace("-"," "))

floating point values in python are always done in double precision  hence  python float types correspond to doubles in a c like language.

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [51]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))
print(list(set(L1).difference(set(L2))))

[77]

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [53]:
ls1 = ["apple", "banana", "cherry"]
new_list= ls1.copy()
new_element =['blueberry']
new_list=new_list + new_element
print(new_list)
print(ls1)

['apple', 'banana', 'cherry', 'blueberry']
['apple', 'banana', 'cherry']