<a href="https://colab.research.google.com/github/swhom/MMDT_T-PY101_Batch03/blob/main/sandarwin/Ex08_Lambda_Ex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1). Write a lambda function that takes an integer 'year' and returns 'age'.

In [ ]:
from datetime import datetime

current_year = datetime.now().year

Q2) Write a lambda function that takes a float "cost" and returns a float "price" by adding 10% to the cost.

Q3) Write a lambda function that takes two strings 'name' , 'domain' and returns an email address (string).

Q4) Lambda in Data Science/Data Analysis

In [ ]:
import pandas as pd

df = pd.read_csv("./data/rentals.csv")

# Q4.1) Create a new column called "size" where each entry is
# determined by the number of bathrooms: 'large' if the number of bathrooms is greater than 3, and 'small' otherwise.






# -----------------------------------------------------------------#
# Q4.2) Creat a new column called "price_category" where
# Assign each entry as the following categories based on the price:
# If the price is greater than 100, the category should be 'premium'.
# Otherwise, the category should be 'standard'.





# -----------------------------------------------------------------#
# Do not change the code below:
# Print the first five rows to see the data. You should have 11 columns

print(f"DataFrame has {df.shape[1]} columns")
df.head()