<a href="https://colab.research.google.com/github/swhom/MMDT_T-PY101_Batch03/blob/main/sandarwin/Ex5_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

Ex 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m× n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [ ]:
def rectangle(m,n):
    for k in range(m):
        print(n*'*')

rectangle(2,4)

****
****

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [ ]:
import random
def calcualte_numbers ( n ):
    result = random.randint(10**(n-1) , 10**(n)-1)

    return result

calcualte_numbers(2)

28

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [ ]:
def number_of_factors (n):
  count = 0
  for i in range (1,n+1):
      if n % i == 0:
        count += 1

  return count

print (number_of_factors(12))

6

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [8]:
def first_diff( string1 , string2):
  string1 =string1.lower()
  string2 =string2.lower()

  min_len = min(len(string1), len(string2))

  for i in range (min_len):
    if string1[i] != string2[i]:
      return i
      if string1[i] == string2[i]:
         return -1

print( first_diff( "hello" , "hell0"))
print (first_diff( "hollo" , "hell0"))
print( first_diff( "hello" , "hello"))

4
1
None

In [11]:
def first_diff( string1 , string2):
  string1 =string1.lower()
  string2 =string2.lower()

  min_len = min(len(string1), len(string2))

  for i in range (min_len):
    if string1[i] != string2[i]:
      return i

  return -1

print( first_diff( "hello" , "hell0"))
print (first_diff( "hollo" , "hell0"))
print( first_diff( "hello" , "hello"))

4
1
-1

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

In [12]:
def root(x, n=2):
  return x**(1/n)

print (root (25,2))
print (root (12))

5.0
3.4641016151377544

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 6 parameters, (a, b, c, d, e,f) and return the values of x and y.

In [ ]:
def system_equation (a,b,c,d,e,f):
  x = (d*e- b*f)/(a*d - b*c)
  y =(a*f -c*e)/(a*d - b*c)
  return x, y

print (system_equation(1,2,3,4,5,6))

(-4.0, 4.5)

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

In [ ]:
def change_case(x):
  result= ""
  for char in x:
      if char.isupper():
        result += char.lower()
      elif char.islower():
        result += char.upper()

  return result

print (change_case("Hello"))
print (change_case("niHAO"))

hELLO
NIhao

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

In [34]:
def primes (n=100):
  result = []

  for num in range (2,n+1):
    is_prime =True
    for i in range (2,num):
      if num % i == 0:
        is_prime = False
        break
    else:
      result.append(num)
  return result


primes(20)

[2, 3, 5, 7, 11, 13, 17, 19]

Ex9: A Tic-tac-toe board can be represented be a 3×3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X’s and twos stand for O’s. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

In [43]:
def place_o (board):
  while True:
    row = random.randint(0,2)
    col = random.randint(0,2)
    if board [row][col] == 0:
      board[row][col] = 2
      return board
place_o ( [
    [1, 0, 2],
    [0,0,0],
    [0,1,1]
])

[[1, 2, 2], [0, 0, 0], [0, 1, 1]]

Ex10:  Write a function that is given a 9 × 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are
 no repeated numbers in any row or any column or in any of the nine “blocks.”